
PORT=8080
NODE_ENV=development

# Configuration du Broker Redis
# En local direct : localhost
# En Docker Compose : redis
# En Kubernetes (k8s) : redis-service
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_QUEUE=order_processing_queue
