
NODE_ENV=development
# Configuration du Broker Redis
# En local direct : localhost
# En Docker Compose : redis
# En Kubernetes (k8s) : redis-service
REDIS_HOST=localhost
REDIS_PORT=6379

REDIS_QUEUE=order_processing_queue

# Délai bloquant (en secondes) pour la commande BRPOP
# Permet une écoute efficace tout en interceptant les signaux SIGTERM de KEDA
POP_TIMEOUT_SEC=2
